@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
p{
  color: red;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight:900;
  font-style:normal;
  line-height:2;
  word-spacing: 10px;
  letter-spacing:5px;
  text-align:center;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-style:solid;
  text-decoration-color: black;
  text-decoration-thickness:5px;
  text-indent:500px;
  text-shadow:2px 2px 5px black;

}