a:link{
    color:blue;
}
a:hover{
    color:green;
}
a:visited{
    color:rgb(0, 255, 251);
}

/* input:focus{
    color:red;
    background-color: black;
} */

p::first-line{
    color:red;
}
p::first-letter{
    font-size: 30px;
    color: blue;
}
ol ::marker{
    font-size: 18px;
    color: green;
}

input::placeholder{
    color:blueviolet;
}