.container{
    height:50vh;
    width:30%;
    background-color: red;
    transform: translateX(30px) rotate(45deg);
    transform:translateY(60px) rotate(50deg);
    transform:scale(1.5);
    transform:skew(82deg,30deg);
}